.container {
    flex-wrap: wrap;
    margin-right: 600px;
}

.button {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.active, .button:hover {
    background-color: #A8260B;
    color: #ffffff;
}