<<<<<<< HEAD
/* /* h1 {
    font-weight: bold;
} */

#recipeCards {
    border-radius: 15;
    box-shadow: bold;
    padding: 10;
    display: inline-block;
}

=======
>>>>>>> ce417e500fd2f1456d3dba15bb0cc99cb32ddd4b
